@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400');

* {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
}

.col {
  min-height: calc(100vh-50px);
}

.col.left {
  width: 40%;
}

.col.right {
  width: 60%;
}

.col.right-expanded {
  width: 100%;
  min-height: 99vh;
}

.col.left-folded {
  display: none;
}

.col:nth-child(1) {
  padding: 20px;
  border-right: 4px solid darkslategray;
}

.block {
  display: flex;
}

.block:not(:last-child) {
  margin-bottom: 20px;
}

.textarea {
  height: 160px;
  flex-grow: 1;
}

.button {
  background-color: #4071b9;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
  min-height: 50px;
  transition: all 0.3s;
}

.button:hover {
  background-color: mediumaquamarine;
}

iframe {
  display: block;
  width: 100%;
  min-height: calc(100% - 50px);
  /* min-height: 99vh; */
  border: 1px solid lightblue;
}

.jets-js-button {
  font-family: 'Montserrat', monospace;
  color: white;
  text-transform: uppercase;
  background-color: #4071b9;
}

a {
  font-family: 'Montserrat', monospace;
}
